body {
  margin: 0;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.5rem;
  color: #606060;
  padding-bottom: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

/* typograph */

.header-title {
  color: white;
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
}

.header-title,
.secondary-title,
p {
  font-weight: 300;
}

.secondary-title {
  font-size: 1.4rem;
  color: black;
}

li {
  font-size: 1rem;
}

/* hero-image */

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-image: url("../images/apple-pie.jpg");
  background-color: #505050;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}

/* main */

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  padding-bottom: 2rem;
}

.image-informative {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.ingredients-list {
  list-style: none;
}

.ingredients-list li::before {
  content: "- ";
}

.directions-list {
  counter-reset: list;
  list-style: none;
}

.directions-list li::before {
  content: counter(list) ") ";
  counter-increment: list;
}

hr {
  width: 100%;
  border-top: 1px solid #505050;
}
